@import "../../styles/variables";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
        display: flex;
        justify-content: flex-start;
        padding: 15px;
        width: 25%;

        .menuItem {
            padding: 0 10px;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
